cchardet 2.1.7
requests
lxml
csv
beautifulsoup4==4.9.3
Django==3.2.7
django-crispy-forms==1.14.0
django-filter==21.1
django-rest-passwordreset==1.2.1
django-rest-swagger==2.2.0
djangorestframework==3.12.4
